# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.directory

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Temporary and log files
*.log
*.tmp
*.bak
